:root {
	--dominant: #434455;
	--caption: #2e2f42;
	--white: #ffffff;
	--interactive: #4d5ae5;
	--cloud: #f4f4fd;
	--accent: #404bbf;
}
body {
	font-family: Roboto, sans-serif;
	background-color: #ffffff;
	color: var(--dominant);
}
.list {
	list-style: none;
}

/* header */
.link {
	text-decoration: none;
	color: var(--caption);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
	color: var(--accent);
}
.logo {
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	color: var(--interactive);
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
	color: var(--interactive);
}
.logo-header {
	color: var(--caption);
}
.contacts {
	font-style: normal;
}
.cont-link {
	font-weight: 400;
	color: var(--dominant);
}

/* Main */

.list-title {
	color: var(--caption);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}
.list-text {
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.section-title {
	color: var(--caption);
	font-weight: 700;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
}

/* section hero */
.hero {
	background-color: var(--caption);
}
.hero-title {
	color: var(--white);
	font-weight: 700;
	font-size: 56px;
	text-align: center;
	line-height: 1.07;
	letter-spacing: 0.02em;
}

.hero-btn {
	font-family: Roboto, sans-serif;
	background-color: var(--interactive);
	color: var(--white);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--accent);
}

/* team section */
.team {
	background-color: var(--cloud);
}
.card {
	background-color: var(--white);
}
.card .list-title {
	text-align: center;
}
.card .list-text {
	text-align: center;
}

/* footer */
.footer-section {
	background-color: var(--caption);
}
.logo-footer {
	color: var(--cloud);
}
.text-footer {
	color: var(--cloud);
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* portfolio */

/* filters btns */
.filters-btn {
	font-family: Roboto, sans-serif;
	background-color: var(--cloud);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-align: center;
	color: var(--interactive);
	cursor: pointer;
}
.filters-btn:hover,
.filters-btn:focus {
	background-color: var(--accent);
	color: var(--white);
}

/* project-cards */
.link-text {
	color: var(--dominant);
	font-weight: 400;
}
